/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.contact-us {
  padding-bottom: 4rem;
}

.cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iframecont {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  height: 400px;
  width: 100%;
}

.contc {
  position: relative;
}

.contc:after {
  content: "";
  background: rgb(48, 48, 71);
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainc {
  max-width: 1400px;
  margin: 0rem auto;
  padding-bottom: 2rem;
  /* background-color: rgb(194, 194, 194); */
  /* background-size: cover; */
}

.headingc {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #f6f7ff;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
    padding-top: 2rem;
}
.white-headingc {
  color: rgb(235, 235, 235);
}

.headingc:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url();
  background-repeat: no-repeat;
  background-position: center;
}

.headerc span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}

.white-headingc span {
  color: #ffffff;
}

.contact-logo img {
  height: 10rem;
  width: 8rem;
}

.contact-logo {
  text-align: center;
}

.contact-information h4 {
  display: inline;
}

.contact-us-body {
  margin-top: 3rem;
}

.contact-information i {
  font-size: 20px;
  background:#007bff;
  color:white;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.after-logo {
  margin-left: 1rem;
  color: rgb(41, 41, 41);
}

.i4ewOd-pzNkMb-haAclf {
  display: none;
}

@media (max-width: 766px) {
  .contact-information {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-information > div {
    margin: 1rem 1rem;
  }
}
