.footer-logo img{ 
  border-radius: 1rem;
  height: 10rem;
  width: 15rem;
  object-fit: initial;
}

.site-footer
{
  background-color:rgb(29, 29, 29);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ebebeb;
  position:static;
  bottom: 0;
}
.site-footer hr
{
  border-top-color:rgb(214, 214, 214);
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#c7c7c7;
}
.site-footer a:hover
{
  color:#70abe2;
  text-decoration:none;
}
#footer-logo{
  size: 6rem;
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#d4d4d4
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#77addf;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#3d333398
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

a.hov:hover{
  color: rgb(207, 67, 67);
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#b29696;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#efecec;
  color:#918181;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#bdbdbd
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media (max-width:998px)
{
  .quick-links{
    display: none;
  }
  .footer-logo{
    display: none;
  }
  .information{
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: center;
  }
}

@media (max-width:500px)
{
  .information h2{
    font-size: 1.5rem;
  }
  .information p{
    font-size: small;
  }
}


.topBottomMargin{
    padding : 1.5% 0;
    background-color:rgba(51, 50, 50, 0);
}

.wrap{
    padding: 0 4%;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: row;
    margin: 0% 10px; 
}

.mar{
    margin: 0% 10px;
}

