@import url('https://fonts.googleapis.com/css?family=Caveat|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  
  background-color: #fafafa !important;
  /* background: linear-gradient(
    49deg,
    rgb(141, 238, 255) 0%,
    rgb(41, 141, 255) 50%
    rgb(161, 6, 141) 100%
  ); */

  /* background: url("../images/utils/shootingstar.jpg") center center no-repeat;
  background-size: contain;
  background-position:center center;  */
  
}
.pagesg {
  height: 40vh;
  width: 100%;
  margin: 0vh 0vw;
  background-size: cover;
  padding-bottom: 0px;

  background-color: #eee;
  background-position: center;
  animation: image 3s ease-in-out infinite alternate;
}

.overlayg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  padding-bottom: 80px;
  color: white;
  background-color: rgba(0,0,0,0.7);
}

.titleBoldg {
  font-weight: 600;
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.pageTitleg {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  padding-top: 1.7em;
}
body {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* font-family: Raleway; */
}
/* p{
  font-family: Raleway;;

} */