
/* .i-am-centered { margin: auto; max-width: 300px;} */

@media (max-width: 640px){
    .card-title{
        font-size: x-large;
        font-family: monospace;
    }
.card-text {
    font-size: medium;
    font-family: "Roboto";
    /* text-align: center; */
}
.cardhgt {
    height: auto;
    background-color : transparent;
    /* margin: 0 1rem 0 1rem; */
}
}

.card-text {
    font-family: "Roboto";
}
.cardhgt {
    height: 18rem;
    background-color : transparent;
    /* margin: 0 1rem 0 1rem; */
}
.cardbd {
    background: linear-gradient(90deg, rgba(45,78,128,1) 0%, rgba(1,19,32,1) 100%);
    background-color: #007bff;
    font-family: monospace;
}
.cardbd:hover {
    
    background-color: rgb(45, 78, 128);
}

.lststyle {
    list-style-type:circle !important;
    padding-inline-start: 10px;
  }

  .blockcol{
    /* background: red; */
    padding:20px;
  
    
    background-image: linear-gradient(to left,transparent, transparent 50%,rgb(45, 78, 128) 50%, #011320);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .5s ease-in;
  }
  
  .blockcol:hover{ background-position: 0 0;
  }